/* Mobile first (padrão) */

.about-me__image-box {
  margin: 24px auto 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .about-me__column {
    width: 60%;
    min-width: 420px;
    max-width: 620px;
  }

  .about-me__image-box {
    margin: 0;
    margin-right: 38px;
  }
}
