/* Mobile first (padrão) */

.content {
  width: 85%;
}

.content__intro {
  margin: 24px auto 0;
}

.content__about-me {
  margin: 48px auto 0;
}

.content__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .content__intro {
    margin: 38px auto 0;
  }

  .content__about-me {
    margin: 76px auto 0;
  }

  .content__projects {
  }
}
