/* Mobile first (padrão) */

.content {
  width: 85%;
}

.content__intro {
  margin: 1.5rem auto 0;
}

.content__about-me {
  margin: 3rem auto 0;
}

.content__projects {
  margin: 3rem auto 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .content__intro {
    margin: 2.375rem auto 0;
  }

  .content__about-me {
    margin: 4.75rem auto 0;
  }

  .content__projects {
    margin: 4.75rem auto 0;
  }
}
