/* Mobile first (padrão) */

.description__title {
  margin: 0;
  font-size: 1.375rem;
  color: #453201e1;
  text-rendering: optimizeLegibility;
}

.description__hello {
  margin: 1.25rem 0 0;
}

.description__brief {
  margin: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .description {
    width: 60%;
    min-width: 420px;
    max-width: 620px;
  }

  .description__title {
    font-size: 1.5rem;
  }
}
