/* Mobile first (padrão) */

.details {
  display: flex;
  flex-direction: column;
}

.details__title {
  margin: 0 0 10px;
}

.details__brief {
  margin: 0;
}

.details__button {
  width: 100%;
  margin-top: auto;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
