/* Mobile first (padrão) */

.details {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-height: 285px;

  background-color: #fdc4355b;
  color: #453201e1;

  border-radius: 20px;
  padding: 20px;
}

.details__title {
  margin: 0 0 10px;
  text-rendering: optimizeLegibility;
}

.details__brief {
  margin: 0;
}

.details__button {
  margin-top: auto;
  width: 50%;
  align-self: center;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .details {
    max-width: 90%;
    min-width: 90%;
    min-height: 165px;
  }
}
