/* Mobile first (padrão) */

.footer {
  width: 90%;
}

.footer__title {
  font-size: 1.125rem;
  color: #453201e1;
  margin: 0 auto;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.footer__form {
  margin-top: 1.5rem;
}

.footer__form-note {
  font-size: 0.75rem;
  margin: 0.75rem auto 0;
  text-align: start;
  width: 70%;
  max-width: 485px;
  padding-left: 10px;
}

.footer__contacts {
  margin-top: 3rem;
}

.footer__copyright {
  color: #453201e1;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .footer__title {
    font-size: 1.25rem;
  }

  .footer__form {
    margin-top: 2.375rem;
  }

  .footer__form-note {
    font-size: 0.875rem;
    margin: 1.25rem auto 0;
  }

  .footer__contacts {
    margin-top: 4.75rem;
  }

  .footer__copyright {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }
}
