/* Mobile first (padrão) */

.footer {
  width: 85%;
  margin: 0 auto;
}

.footer__title {
  font-size: 18px;
  margin: 48px auto 0;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.footer__form {
  margin-top: 12px;
}

.footer__form-note {
  font-size: 12px;
  margin: 12px auto 0;
  text-align: center;
}

.footer__contacts {
  margin-top: 24px;
}

.footer__copyright {
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer__background {
}

/* Tablet e acima */

@media (min-width: 768px) {
  .footer__title {
    font-size: 20px;
  }

  .footer__form {
    margin-top: 19px;
  }

  .footer__form-note {
    font-size: 14px;
    margin: 19px auto 0;
  }

  .footer__contacts {
    margin-top: 38px;
  }

  .footer__copyright {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}
