/* Mobile first (padrão) */

.form {
  width: 70%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.form__label {
}

.form__input {
}

.form__textarea {
}

.form__button {
}

/* Tablet e acima */

@media (min-width: 768px) {
}
