.header {
  display: flex;
  flex-wrap: wrap;
}

.header__nav {
  width: 83.33%;
  display: flex;
  justify-content: space-between;
  margin: 14px auto 0;
}

.header__intro {
}

.header__image-box {
}
