/* Mobile first (padrão) */

.header {
  display: flex;
  flex-wrap: wrap;
}

.header__nav {
  width: 90%;
  margin: 0 auto;
  min-height: 1.875rem;
  border-radius: 5px;
}

.header__name {
  margin: 0.875rem auto 0;
  font-size: 0.75rem;
  font-family: "Cause-Bold", "Trebuchet MS", "Gill Sans", Calibri, sans-serif;
  color: #453201e1;

  filter: drop-shadow(
    0 0 0.5em rgba(244, 232, 4, 0.841)
  ); /* aplica iluminação */

  width: 90%;
  text-align: right;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .header__name {
    font-size: 0.875rem;
    text-align: left;
  }
}
