/* Mobile first (padrão) */

.header {
  display: flex;
  flex-wrap: wrap;
}

.header__nav {
  width: 90%;
  min-height: 30px;
  margin: 14px auto 0;
}

.header__name {
  margin: 14px auto 0;
  font-weight: 600;
}

/* Tablet e acima */

@media (min-width: 768px) {
}
