/* Mobile first (padrão) */

.image-box {
  background-color: #fdc4355b;
  max-width: 619px;
  height: 294px;
  display: flex;
  border-radius: 20px;
}

.image-box_about-me {
  height: 244px;
}

.image-box__jpg {
  margin: 0 auto;
  align-self: center;
  border-radius: 20px;
  width: 75%;
  max-width: 210px;
  object-fit: contain;

  -webkit-mask-image: radial-gradient(
    ellipse at center,
    black 60%,
    transparent 100%
  );
  mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
}

/* Tablet e acima */

@media (min-width: 768px) {
  .image-box {
    justify-content: center;
    margin-left: 38px;
    max-width: 418px;
  }

  .image-box_about-me {
    margin-left: 0;
    margin-right: 38px;
  }

  .image-box__jpg {
    margin: 0;
  }
}
