/* Mobile first (padrão) */

.intro__image-box {
  margin: 1.5rem auto 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .intro__image-box {
    margin: 0;
    margin-left: 2.375rem;
  }
}
