/* Mobile first (padrão) */

.intro {
}

.intro__description {
}

.intro__image-box {
  margin: 24px auto 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .intro__description {
    width: 50%;
  }

  .intro__image-box {
    margin: 0;
  }
}
