/* Mobile first (padrão) */

.menu {
}

.menu__nav-item {
  width: max-content;
  text-align: center;
}

.menu__nav-link {
  text-decoration: none;
  color: #fdc435;

  will-change: filter;
  transition: filter 300ms;

  border-radius: 5px;
}

.menu__nav-link:hover {
  opacity: 0.7;

  filter: drop-shadow(
    0 0 0.5em rgba(244, 232, 4, 0.841)
  ); /* aplica iluminação */
}

.menu__nav-link:active {
  opacity: 0.5;
}

/* Foco visível (acessibilidade) */
.menu__nav-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px rgba(246, 206, 3, 0.905);
}

/* Tablet e acima */

@media (min-width: 768px) {
}
