/* Mobile first (padrão) */

.page {
  width: 95%;
  max-width: 767px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #2b2a2a3d;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__header {
}

.page__content {
  flex: 1;
}

.page__footer {
}

/* Tablet e acima */

@media (min-width: 768px) {
  .page {
    max-width: 1440px;
  }
}
