/* Mobile first (padrão) */

.page {
  width: 95%;
  max-width: 767px;
  margin: 0 auto;

  background-color: #2b2b2a3d;
  color: #f2dca4e1;
  font-family: "Cause", "Trebuchet MS", "Gill Sans", Calibri, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__header {
  margin-top: 14px;
}

.page__content {
  flex: 1;
  margin: 0 auto;
}

.page__footer {
  margin: 76px auto 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .page {
    max-width: 1440px;
  }

  .page__footer {
    margin: 96px auto 0;
  }
}
