/* Mobile first (padrão) */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__title-box {
  width: 100%;
}

.projects__list {
  list-style-type: none;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.projects__pair-items {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .projects__list {
    margin-top: 2.375rem;
  }
}
