/* Mobile first (padrão) */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__title-box {
  width: 100%;
}

.projects__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__pair-items {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__details {
  margin: 24px 10px 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .projects__details {
    margin: 38px 10px 0;
  }
}
