/* Mobile first (padrão) */

.title-box {
  text-align: center;
}

.title-box__title {
  margin: 0;
  font-size: 1.25rem;
  color: #453201e1;
  text-rendering: optimizeLegibility;
}

.title-box__rec {
  width: 35%;
  height: 1px;
  background-color: #92909081;
  margin: 0.375rem auto;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .title-box__title {
    font-size: 1.375rem;
  }

  .title-box__title_about-me {
    text-align: right;
  }

  .title-box__rec_about-me {
    margin: 0.375rem 0 0 auto;
  }
}
