/* Mobile first (padrão) */

.title-box {
  margin: 0 auto;
  text-align: center;
  margin: 24px auto 0;
}

.title-box__title {
  margin: 0;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .title-box {
    margin: 38px auto 0;
  }
}
