/* Mobile first (padrão) */

.title-box {
  text-align: center;
  margin: 48px auto 0;
}

.title-box__title {
  margin: 0;
  font-size: 20px;
}

.title-box__rec {
  width: 35%;
  height: 1px;
  background-color: #92909081;
  margin: 5px auto;
}

/* Tablet e acima */

@media (min-width: 768px) {
  .title-box {
    margin: 76px auto 0;
  }

  .title-box_about-me {
    margin: 0;
  }

  .title-box__title {
    font-size: 22px;
  }

  .title-box__title_about-me {
    text-align: right;
  }

  .title-box__rec_about-me {
    margin: 5px 0 0 auto;
  }
}
